html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #23231f;
}

canvas {
  width: 100%;
  height: 100%;
}

#webgl-view {
  width: 100%;
  height: 100%;
  margin: 0;
}